[submodule "src/app/lvgl/lvgl"]
	path = src/app/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "src/app/middleware/tinyusb_src"]
	path = src/app/middleware/tinyusb_src
	url = https://github.com/hathach/tinyusb_src.git
[submodule "src/app/middleware/FreeRTOS-Kernel"]
	path = src/app/middleware/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
